*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.untouched{
  color:grey;
}

.bad{
  color:red;
}

.good{
  color:green;
}

#textInput{
  width: 0px;
  height: 0px;
  border: none;
}